<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>writingui_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 153}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 205}, {161, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 158}</string>
			<key>spriteSourceSize</key>
			<string>{118, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 848}, {118, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_a_p_x.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{121, 129}</string>
			<key>spriteSourceSize</key>
			<string>{121, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 561}, {121, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_home_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {191, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{191, 198}</string>
			<key>spriteSourceSize</key>
			<string>{191, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 361}, {191, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_home_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{191, 200}</string>
			<key>spriteSourceSize</key>
			<string>{191, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 159}, {191, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_lower.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {241, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{241, 197}</string>
			<key>spriteSourceSize</key>
			<string>{241, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{562, 0}, {241, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_select_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {279, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{279, 199}</string>
			<key>spriteSourceSize</key>
			<string>{279, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 0}, {279, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_select_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {279, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{279, 203}</string>
			<key>spriteSourceSize</key>
			<string>{279, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {279, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_btn_upper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {241, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{241, 197}</string>
			<key>spriteSourceSize</key>
			<string>{241, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{562, 199}, {241, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_c.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 160}</string>
			<key>spriteSourceSize</key>
			<string>{109, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{119, 848}, {109, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_d.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 154}</string>
			<key>spriteSourceSize</key>
			<string>{126, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 371}, {126, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_e.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 154}</string>
			<key>spriteSourceSize</key>
			<string>{105, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 833}, {105, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_f.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 157}</string>
			<key>spriteSourceSize</key>
			<string>{105, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 844}, {105, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_g.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 158}</string>
			<key>spriteSourceSize</key>
			<string>{125, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{431, 517}, {125, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_h.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 154}</string>
			<key>spriteSourceSize</key>
			<string>{131, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 677}, {131, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_i.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 157}</string>
			<key>spriteSourceSize</key>
			<string>{53, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 201}, {53, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_j.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 161}</string>
			<key>spriteSourceSize</key>
			<string>{94, 161}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 398}, {94, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_k.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 155}</string>
			<key>spriteSourceSize</key>
			<string>{130, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 527}, {130, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_l.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 158}</string>
			<key>spriteSourceSize</key>
			<string>{103, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 684}, {103, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_m.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 157}</string>
			<key>spriteSourceSize</key>
			<string>{184, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 201}, {184, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 154}</string>
			<key>spriteSourceSize</key>
			<string>{137, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{457, 840}, {137, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_o.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {139, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{139, 155}</string>
			<key>spriteSourceSize</key>
			<string>{139, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 525}, {139, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 160}</string>
			<key>spriteSourceSize</key>
			<string>{117, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 848}, {117, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_q.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 162}</string>
			<key>spriteSourceSize</key>
			<string>{147, 162}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 522}, {147, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_r.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 156}</string>
			<key>spriteSourceSize</key>
			<string>{132, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 682}, {132, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_s.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 164}</string>
			<key>spriteSourceSize</key>
			<string>{116, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 205}, {116, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_t.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 160}</string>
			<key>spriteSourceSize</key>
			<string>{107, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 686}, {107, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_u.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 160}</string>
			<key>spriteSourceSize</key>
			<string>{136, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 686}, {136, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_v.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 161}</string>
			<key>spriteSourceSize</key>
			<string>{144, 161}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{560, 398}, {144, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_w.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 157}</string>
			<key>spriteSourceSize</key>
			<string>{199, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 0}, {199, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_x.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {151, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{151, 160}</string>
			<key>spriteSourceSize</key>
			<string>{151, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 360}, {151, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_y.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 163}</string>
			<key>spriteSourceSize</key>
			<string>{148, 163}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 360}, {148, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>writingui_z.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 155}</string>
			<key>spriteSourceSize</key>
			<string>{127, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{431, 360}, {127, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>writingui</string>
		<key>textureFileName</key>
		<string>writingui.pvr.ccz</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>