<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_panel_w_1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,319}}</string>
                <key>sourceSize</key>
                <string>{330,319}</string>
            </dict>
            <key>main_panel_x_1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{330,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,319}}</string>
                <key>sourceSize</key>
                <string>{330,319}</string>
            </dict>
            <key>main_panel_y_1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{330,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,319}}</string>
                <key>sourceSize</key>
                <string>{330,319}</string>
            </dict>
            <key>main_panel_z_1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,323},{330,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,319}}</string>
                <key>sourceSize</key>
                <string>{330,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_panel_bg_0.pvr.ccz</string>
            <key>size</key>
            <string>{666,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e497bc12d975fe45e9df35dd2cd466:905e8d8ee88729016ce42ea3a247c9a1:a931f7b6eff72060265fbbcc9649d475$</string>
            <key>textureFileName</key>
            <string>main_panel_bg_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
