<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_button_store_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,538},{322,262}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{322,262}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,802},{322,260}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{322,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2},{320,260}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{320,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,264},{320,260}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{320,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{318,258}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{318,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,802},{316,258}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{316,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1062},{316,258}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{316,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,806},{314,260}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{314,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,802},{314,260}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{314,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1064},{314,258}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{314,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1066},{314,258}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{314,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1064},{314,258}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{314,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1068},{314,256}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{314,256}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{318,258}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{318,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,804},{320,260}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{320,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,538},{322,262}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{322,262}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,540},{326,264}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{326,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,272},{330,264}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{330,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{334,266}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{334,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{338,268}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{338,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,268}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{340,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{340,268}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{340,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{338,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{338,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{336,266}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{336,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,270},{336,266}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{336,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,272},{332,266}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{332,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,272},{332,264}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{332,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,538},{328,264}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{328,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{328,264}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{328,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_store_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,538},{324,262}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{324,262}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fongjump_noapp.pvr.ccz</string>
            <key>size</key>
            <string>{2026,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616d948a401bc9169037b735dbbc76a6:eb7cf58e6efac128199205c90e550d65:6aa49753c41a28128406c1313f35a165$</string>
            <key>textureFileName</key>
            <string>fongjump_noapp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
