<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_button_app_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{258,262}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{258,262}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{258,260}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{258,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,518},{256,260}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{256,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,520},{254,260}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{254,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,258},{252,258}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{252,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,260},{250,258}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{250,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{250,256}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{250,256}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{248,256}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{248,256}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,254}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{248,254}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,254}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{248,254}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{248,254}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{248,254}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{248,254}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{248,254}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,258},{250,256}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{250,256}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,260},{252,258}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{252,258}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,520},{256,260}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{256,260}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,782},{258,262}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{258,262}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,782},{262,264}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{262,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{266,264}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{266,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{268,266}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{268,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{272,268}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{272,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1582},{274,268}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{274,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1582},{272,268}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{272,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1582},{272,268}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{272,268}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1314},{270,266}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{270,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1314},{268,266}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{268,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1314},{266,266}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{266,266}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1046},{266,264}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{266,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1048},{264,264}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{264,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1048},{262,264}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{262,264}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
            <key>jump_button_app_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,782},{260,262}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{260,262}}</string>
                <key>sourceSize</key>
                <string>{350,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fongjump_app.pvr.ccz</string>
            <key>size</key>
            <string>{1264,1852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ffa90091f4699e14edf787bb8bbfa2d:77584f30887aa96acabd7d5355083d95:83dd4d7c1a6ae8484155cf4edea4ea91$</string>
            <key>textureFileName</key>
            <string>fongjump_app.pvr.ccz</string>
        </dict>
    </dict>
</plist>
