<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kidslock_numbtn_0_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_0_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_3_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_4_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_5_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_5_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_6_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_6_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_7_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_7_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_8_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_8_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_9_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{108,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>kidslock_numbtn_9_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kidslock_common_1.png</string>
            <key>size</key>
            <string>{1102,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a20acf46b97e650f73cf2cc99e8efa:de6344a87c6be1b2deb9d6af6a1e8fb8:7a49d93ba81a28bc6f81552af18c7e71$</string>
            <key>textureFileName</key>
            <string>kidslock_common_1.png</string>
        </dict>
    </dict>
</plist>
