<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{125,122}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{125,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{127,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{127,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,2},{127,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{127,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{127,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{127,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{127,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{127,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{127,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{127,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{129,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{129,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,126},{131,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,126},{131,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,126},{131,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,250},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,126},{133,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,250},{135,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,250},{135,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,250},{135,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,250},{135,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,250},{137,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,250},{137,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,250},{137,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,250},{137,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,374},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,374},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,374},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,250},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,250},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,374},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>loading0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_loading.png</string>
            <key>size</key>
            <string>{1691,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf95f61e1b32308238bc48689081d2b:5b0ca71342059829b3fc9dcd2a9333e0:5eb74cce3922a026b64b51b16f094365$</string>
            <key>textureFileName</key>
            <string>main_loading.png</string>
        </dict>
    </dict>
</plist>
