<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_jumpbtn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1430},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1192},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1430},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1192},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1430},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1192},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1430},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1192},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
            <key>main_jumpbtn_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1668},{239,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{239,236}}</string>
                <key>sourceSize</key>
                <string>{259,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_fongjump.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57cef7161a0f1037b7682763c043ad4a:a8960901e0ff8b9c79de8e30b15404e0:9c1d2df91d9583b52155a29da1cfc278$</string>
            <key>textureFileName</key>
            <string>main_fongjump.pvr.ccz</string>
        </dict>
    </dict>
</plist>
