<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{245,243}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{249,243}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{249,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,247},{251,243}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{251,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,247},{253,243}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{253,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,247},{253,243}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{253,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,247},{253,243}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{253,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,247},{253,243}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{253,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,247},{255,243}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{255,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{259,243}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{259,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,492},{261,243}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{261,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,492},{261,243}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{261,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,737},{263,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{263,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{263,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{263,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,492},{263,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{263,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,492},{263,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{263,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,492},{263,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{263,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,492},{263,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{263,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,737},{265,243}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{265,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,737},{265,243}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{265,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,737},{265,243}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{265,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,737},{265,243}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{265,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{267,243}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{267,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,737},{267,243}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{267,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,982},{269,243}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{269,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,982},{269,243}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{269,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,982},{271,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{271,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,982},{271,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{271,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,982},{273,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{273,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,982},{273,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{273,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1227},{275,243}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{275,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1227},{275,243}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{275,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{275,243}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{275,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1227},{277,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1227},{277,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1227},{277,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1227},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,2},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
            <key>loading0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,243}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{277,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_loading.png</string>
            <key>size</key>
            <string>{1962,1717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf95f61e1b32308238bc48689081d2b:5b0ca71342059829b3fc9dcd2a9333e0:5eb74cce3922a026b64b51b16f094365$</string>
            <key>textureFileName</key>
            <string>main_loading.png</string>
        </dict>
    </dict>
</plist>
