<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kidslock_numbtn_0_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{215,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,222}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_0_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,230},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,458},{215,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,222}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,230},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,458},{215,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,222}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,230},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,682},{215,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{215,220}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_3_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,230},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,682},{215,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{215,220}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_4_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_5_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,458},{215,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,222}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_5_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_6_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,458},{215,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,222}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_6_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_7_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{215,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,222}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_7_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_8_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,682},{215,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{215,220}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_8_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_9_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,682},{215,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{215,220}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
            <key>kidslock_numbtn_9_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,226}}</string>
                <key>sourceSize</key>
                <string>{215,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kidslock_common_1.png</string>
            <key>size</key>
            <string>{1087,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a20acf46b97e650f73cf2cc99e8efa:de6344a87c6be1b2deb9d6af6a1e8fb8:7a49d93ba81a28bc6f81552af18c7e71$</string>
            <key>textureFileName</key>
            <string>kidslock_common_1.png</string>
        </dict>
    </dict>
</plist>
