<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mycard_indi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,89},{82,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{82,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{60,85}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{60,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{56,85}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{56,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,89},{64,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{64,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,89},{52,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{52,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,89},{54,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{54,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{64,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{64,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,89},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{66,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,89},{28,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{28,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{48,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{48,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,89},{66,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{66,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{52,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{52,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{70,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{70,81}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,89},{70,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{70,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{60,85}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{60,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{74,87}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,89},{66,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{66,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{60,87}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{54,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{68,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{68,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{74,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{98,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{76,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{76,85}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,87}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,87}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>mycard_indi_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,89},{64,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{64,83}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_mycard_indi.png</string>
            <key>size</key>
            <string>{950,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb42e2ac57d973a4ee7ab0cd071e9af6:243903d4d6d4a7320c85b4efbe46a13d:d2c9f6c9a09b151efbe767fcadde7aa6$</string>
            <key>textureFileName</key>
            <string>card_mycard_indi.png</string>
        </dict>
    </dict>
</plist>
